:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/*
--primary-text-color - p tel mail
--title-text-color - title, кроме h1 
black: #000000; (header logo)
white: #ffffff; (footer logo)
page background-color: #ffffff
background-color: #2F303A
white: #ffffff;  60%  
rgba(255, 255, 255, 0.6) footer link
roboto 900  700 500 400
Raleway 700

*/
body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  color: var(--title-text-color);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn {
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.header-logo {
  color: #000000;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
/*не працює, why? */
.header-nav-link:active {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* main */

/* hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  font-weight: 700;
  line-height: 1.88;
  color: #ffffff;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* feature */

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.features-descr {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
/* activities */

/* team */
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-descr {
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  color: var(--primary-text-color);
}
/* footer */

.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
}

.address {
  font-style: normal;
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-link[href="https://goo.gl/maps/JHCXsqgSBJYCVwFo8"]
{
  color: #ffffff;
}

/* portfolio */
.filter-btn {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.projects-descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
